@use "../mixins" as m;

.template-page {
  @include m.grid;

  h1 {
    margin-top: 6rem;
    grid-column: 4 / span 6;
  }
  h1 {
    grid-column: 4 / span 6;
  }
  .rich-text {
    grid-column: 4 / span 6;
  }
}
