@use "../mixins" as m;

.logo-container {
  position: absolute;
  top: 1rem;
  a {
    text-decoration: none;
  }
  span {
    display: block;

    line-height: 0.9em;
  }
  .f {
    padding-left: 1em;
    position: relative;
    &:before {
      content: "F";
      position: absolute;
      left: 0;
      top: 0;
      transform: scale(-1, 1);
    }
  }
}
