@use "../mixins" as m;

.menu-button {
  all: unset;
  cursor: pointer;
  position: fixed;
  top: var(--padding);
  z-index: 12;
  // left: calc(25% + 40em);
  // right: calc(
  //   var(--padding) + 4 *
  //     (((100vw - (2 * var(--padding))) - (11 * var(--gap))) / 12) +
  //     (4 * var(--gap))
  // );
  left: calc(
    9 * (100vw - (var(--padding) * 2) - (var(--gap) * 11)) / 12 +
      var(--padding) + (var(--gap) * 10)
  );
  left: calc(
    10 * (100vw - (var(--padding) * 2) - (var(--gap) * 11)) / 12 +
      var(--padding) + (var(--gap) * 12)
  );
  margin-left: 1rem;
  @include m.check;
}

.menu {
  position: fixed;
  z-index: 6;
  z-index: 11;
  top: 0;
  padding: 1rem;
  padding-top: calc(var(--padding) + 2em);
  background: var(--light-grey);
  background: white;
  // left: calc(25% + 40em);
  // right: calc(
  //   var(--padding) + 4 *
  //     (((100vw - (2 * var(--padding))) - (11 * var(--gap))) / 12) +
  //     (4 * var(--gap))
  // );
  left: calc(
    9 * (100vw - (var(--padding) * 2) - (var(--gap) * 11)) / 12 +
      var(--padding) + (var(--gap) * 10)
  );
  left: calc(
    10 * (100vw - (var(--padding) * 2) - (var(--gap) * 11)) / 12 +
      var(--padding) + (var(--gap) * 12)
  );

  display: flex;
  gap: 1rem;

  .menu-title {
    display: inline-block;
    position: relative;
    @include m.check;
    &:hover {
      background: var(--highlight-light);
    }
  }
  // .sub-menu-item {
  //   position: relative;

  //   ul {

  //   }
  // }
}
