@use "../mixins" as m;
.sub-menu {
  position: fixed;
  top: var(--padding);
  left: 25%;
  display: flex;
  gap: 1rem;
  z-index: 10;

  .sub-menu-title {
    display: inline-block;
    position: relative;
    @include m.check;
  }
  .sub-menu-item {
    position: relative;

    ul {
      position: absolute;
      top: 1.5em;
      left: 0;
      display: flex;
    }
  }
}
