@use "./responsive" as r;

:root {
  // Spacing
  --padding: 1rem;
  --gap: 1rem;
  --gap: 5px;

  --bg: white;
  --fg: black;
  --highlight: #f3ffc9;
  --highlight-light: #f9ffe4;

  --light-grey: #f2f2f2;
  --dark-grey: #cccccc;
  --grey-text: #808080;

  //misc
  --border: 1px solid black;
  --radius: 5px;
  --smooth-shadow:
    0 0.5px 1px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05),
    0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.05),
    0 8px 16px rgba(0, 0, 0, 0.05), 0 16px 32px rgba(0, 0, 0, 0.05);
}

@include r.s(sm) {
  :root {
  }
}

@include r.s(lg) {
}

// Darkmode
// @media (prefers-color-scheme: dark) {
//   :root {
//     --white: #000000;
//     --black: #ffffff;
//   }
// }
