@use "../mixins" as m;

.carousel {
  position: relative;
  margin-bottom: 4rem;
  button {
    all: unset;
    background: var(--fg);
    color: var(--bg);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    &:disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }
  }
  .prev-button {
    position: absolute;
    // right: calc(100% + 1rem);
    left: -1rem;
    top: calc(50% - 1em);
  }
  .next-button {
    position: absolute;
    // left: calc(100% + 1rem);
    right: -1rem;
    top: calc(50% - 1em);
  }
  .caption {
    font-size: 0.75rem;
  }
}
