@use "../mixins" as m;

.events-module {
  margin-bottom: 6rem;

  .filters {
    margin-bottom: 1rem;
    button {
      all: unset;
      cursor: pointer;
      // font-size: 0.75rem;
      position: relative;
      @include m.check;
    }
  }

  .events-grid {
    @include m.grid;
  }
  a {
    text-decoration: none;
    &:hover {
      // opacity: 0.5;
      // background: var(--highlight);
      background: var(--highlight-light);
    }
    // grid-template-columns: span 2;
    grid-column: span 2;
    margin-bottom: auto;
  }
  article {
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    h4 {
      margin-bottom: 0;
      margin-top: 0;
    }

    .events-date {
      color: var(--grey-text);
    }
  }
  .event-article {
    padding: 0;
    img {
      // transition: transform 0.75s;
    }
    .thumbnail-placeholder {
      aspect-ratio: 6 / 4;
      background: var(--light-grey);
    }
    .event-info {
      position: relative;
      padding-left: 1em;
      &::before {
        content: "F";
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(-1, 1);
        color: var(--dark-grey);
      }
    }
    &:hover {
      background: var(--bg);
      img {
        transform: scale(-1, 1);
      }
    }
  }
}
