@use "../mixins" as m;

.news-module {
  @include m.grid;
  margin-bottom: 6rem;

  a {
    text-decoration: none;
    &:hover {
      // opacity: 0.5;
      // background: var(--highlight);
      background: var(--highlight-light);
    }
    // grid-template-columns: span 2;
    grid-column: span 2;
  }
  article {
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    h4 {
      margin-bottom: 0;
    }

    .news-date {
      color: var(--grey-text);
    }

    &::before {
      content: "F";
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(-1, 1);
      color: var(--dark-grey);
    }
  }
}
